<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
    <body>
    <div class="row">
     <div class="mx-auto col-10 col-md-8 col-lg-6">
      <form method="post" class="card">
		{% csrf_token %}
		<h2 class="text-center">Delete Task</h2>
		<p class="text-center">Are you sure that you want to delete "{{task_id}}"?</p>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a href="" class="btn btn-danger text-center" >Yes</a>
            <a href="" class="btn btn-primary text-center" >No</a>
        </div>
    </div>
</div>

	</form>
     </div>
    </div>

    </body>
{% endblock %}
</html>