<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
<body class="bg-success">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="text-center">
                   <h1>Todo List</h1>
                </div>
    <table style="width: 100%" class="table table-bordered">

    <thead>
    <tr>
        <th> Task Name</th>
        <th> Publish date</th>
        <th> Deadline date</th>
        <th> Delete or Update</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
      <td> {{ task.name }}</td>
      <td> {{ task.pub_date }}</td>
      <td> {{ task.must_finish_by }}</td>
      <td>
          <a href="{% url 'delete-task' pk=task.id %}" class="btn btn-danger">Delete</a>
          <a href="" class="btn btn-primary">Update</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>